<section>
    <div class="banner">
        <img src="/images/bg.jpg" loading="lazy" decoding="async">
        <div class="blog-header">
            <h1><strong>Engineering & Computing blog</strong></h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <%- partial("common/article", include_page("about")); %>
    </div>
</section>